@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #bfd7ff ;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #78aaff;
    border-radius: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #005eff;
  }
}

body{
  background-color: #f7fafc;
  position: relative;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

/* dynamic border radius based on number of chats */
/* for other users message */
.right-chat{

  &:first-child{
    &:has(+ .right-chat){
        margin-bottom: 4px !important;
      .message{
        border-bottom-right-radius: 6px;
      }
    }
  }

  &+ .left-chat{
    &:has(+ .left-chat){
        margin-bottom: 4px !important;
      .message{
        border-bottom-left-radius: 6px;
      }
    }
  }

  &+ .right-chat{
    &:has(+ .left-chat){
        margin-top: 4px !important;
      .message{
        border-top-right-radius: 6px;
      }
    }
    &:has(+ .right-chat){
        margin-top: 4px !important;
        margin-bottom: 4px !important;
      .message{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    &:last-child{
        margin-top: 4px !important;
      .message{
        border-top-right-radius: 6px;
      }
    }
  }
}

.left-chat{
  &:first-child{
    &:has(+ .left-chat){
        margin-bottom: 4px !important;
      .message{
        border-bottom-left-radius: 6px;
      }
    }
  }

  &+ .right-chat{
    &:has(+ .right-chat){
        margin-bottom: 4px !important;
      .message{
        border-bottom-right-radius: 6px;
      }
    }
  }

  &+ .left-chat{
    &:has(+ .right-chat){
        margin-top: 4px !important;
      .message{
        border-top-left-radius: 6px;
      }
    }
    &:has(+ .left-chat){
        margin-top: 4px !important;
        margin-bottom: 4px !important;
      .message{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
    &:last-child{
        margin-top: 4px !important;
      .message{
        border-top-left-radius: 6px;
      }
    }
  }
}
